body{
    background-color: black;
    color: rgb(245, 237, 178);
    /* font-family: "Roboto Mono", monospace; */
    font-family: "Parisienne", cursive;
    margin: 0px;
}

header{
    border-bottom: double 2px rgb(245, 237, 178);
    padding: 30px;
    font-size: 32px;
    color: antiquewhite;
}

section{
    background-color: darkblue;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

